body{
  background-image: url(https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100);
  background-repeat: no-repeat;
  background-size: cover;
}
.App{
  display: flex;
  height: 100vh;
  align-items: center;
  align-content: center;
}
.containerMenu{
  width: 80%;
  margin: auto;
  border-radius: 15px;
  height: 80vh;
}
.containerMenuHeader{
  display: flex;
  justify-content: space-evenly;
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.2);
  backdrop-filter: blur(4px);
  margin: 20px 20px 0 20px;
}
.containerCadastroVeiculo{
  height: 80%;
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.2);
  backdrop-filter: blur(15px);
  margin: 20px 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menuOption{
  cursor: pointer;
}
.semConteudo{
  height: 80%;
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.2);
  backdrop-filter: blur(15px);
  margin: 20px 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.containerSemVeiculos{
  height: 80%;
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.2);
  backdrop-filter: blur(15px);
  margin: 20px 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.veiculosCadastrados{
  height: 80%;
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.2);
  backdrop-filter: blur(15px);
  margin: 20px 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.containerScrollVeiculos{
  width: 98%;
  height: 95%;
  overflow-y: scroll;
}
.containerScrollVeiculos::-webkit-scrollbar {
  width: 12px;
}

.containerScrollVeiculos::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
  backdrop-filter: blur(4px);
}

.containerScrollVeiculos::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.2);
}
.containerVeiculos{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  background: rgba(255,255,255,0.2);
  padding: 2vh;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.2);
}
.containerVeiculos img {
  width: 100px;
  height: 100px;
  image-rendering: pixelated;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
table{
  display: block;
  width: 80%;
  text-align: center;
}
.linhaTabelaVeiculoHead{
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
.linhaInfosveiculos{
  display: flex;
  justify-content: space-between;
  text-align: -webkit-auto;
  align-items: center;
  font-size: 21px;
  width: 100%;
  align-content: center;
  margin-top: 15px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60%;
}